@font-face {
    font-family: "Lexend Peta";
    src: local("Lexend Peta Regular"),
      local("LexendPeta-Regular"),
      url("Lexend_Peta-webfont.woff2") format("woff2"),
      url("Lexend_Peta-webfont.woff") format("woff"),
      url("Lexend_Peta-webfont.svg") format("svg");
    font-weight: normal;
}